body {
  margin: 0;
  transition: all .5s ease;
}

#code {
  font-family: sans-serif; Helvetica;
  background-color: white;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
