body {
  margin: 0;
  transition: all .5s ease;
  display: -webkit-flex;
  display: flex;
}

#hex {
    font-family: Verdana; serif; sans-serif; 
    font-size: 3em;
    display: -webkit-flex;
    display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center; 
}
